<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">  
</head>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">🥬</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Foodly</a>
          </li>
        </ul>
        <form class="d-flex" action="/product">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" input id="i1" list="countries" name="product1">
          <button class="btn btn-outline-success" type="submit" value="Get a recommendetion">Submit</button>
        </form>
        <datalist id="countries" class="list"></datalist>
        <script src="/static/main.js"></script>
      </div>
    </div>
  </nav>
</header>

<br>
<br>

<body>
</body>

<center>
  <div class="container">
    <div class="row">
      <!--1st col-->
      <div class="col">
      </div>
      <!--2nd col-->
      <div class="col-6">
          <form action="/product">
            <br>
            <h1 class="text">Foodly</h1>
            <br>
            <p> Welcome to Foodly!
            <p>Did you ever think about the environmental impact of your food?
              Foodly provides you with this information and suggests you other products in the same food category with the lowest CO2 scores.</style></p>
            <br>
            <!-- <form class="d-flex"> -->
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" input id="i1" list="countries" name="product1">
              <br>
              <button class="btn btn-outline-success" type="submit" value="Get a recommendetion">Submit</button>
            <!--  </form> -->
          </form>
          <datalist id="countries" class="list"></datalist>
          <script src="/static/main.js"></script>
      </div>
      <!--3rd col-->
      <div class="col">
      </div>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- GitHub and Linkedin -->
        <div class="container">

         

          <div class="row">

            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
           

            <div class="col-sm">
              <a href="https://github.com/lenaromanenko" target="_blank">
                <img src="https://www.futureatelier.com/wp-content/uploads/2021/03/github.png" alt="GitHub Button" style="width:26px; height:26px" >
                </a>
                
            </div>
            <div class="col-sm">
              <a href="https://www.linkedin.com/in/lenaromanenko/"target="_blank" >
                <img src="https://www.futureatelier.com/wp-content/uploads/2021/03/linkedin.png" alt="LinkedIn Button" style="width:26px; height:26px" >
              </a>
              
            </div>
            
           
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>

          </div>
        </div>    
        
        
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #F8F9FA;">
    </div>
    <!-- Copyright -->
  </footer>
</center>
</html>